nav {
font-size: 1.2rem;
background-color: #f24c27;
transition: .3s;
position: fixed;
top: 0;
left: 0;
z-index: 9999;
width: 100%;
box-sizing: border-box;

}

nav.blue {
  background:#f24c27;
  opacity: 80%;

}
.logo{
    width: 50px;
    transition: .3s;
}

nav.blue .logo{
 width: 50px; 
}
/* Flex Container */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
  
}

nav ul li {
  cursor: pointer;
  padding: 0.5rem;
  flex: auto;
  text-align: center;
}


nav ul li:hover {
 background-color: #F2B705;
 
}


nav ul li a{
text-decoration-line: none;
color: #ffffff;
transition: .3s;
}

nav.blue ul li a{
  color: #fff;
}

nav ul li a:focus{
  outline: none;
}

nav ul li a.active{
  background: #F2B705;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px 12px 10px;
}

.active:hover{
  background-color:#f24c27;
}


/* Responsive Nav Bar */
@media all and (max-width: 600px) {
  nav {
font-size: 1.2rem;
background-color: #F24C27;
position: static;
}

nav ul li a.active{
  background: #F2B705;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px 5px 10px;
}

nav ul {
flex-direction: column;
}
nav ul li {
text-align: center;
}
nav .logo{
		position: relative;
        margin-left: 45%;
	}
}